body {
  width: 1600px;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}
.hidden {
  width: 1px;
  height: 1px;
  opacity: 0;
  position: absolute;
}
header {
  width: 100%;
  height: 95px;
  /* background-color: black; */
  position: absolute;

}
.main-navigation,
.main-navigation ul {
  width: auto;
  height: 100%;
}
.main-navigation ul {
  margin-left: 502px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  color: #ffffff;
}

.main-navigation ul li:not(.logo) {
  display: inline-block;
  width: auto;
  margin-top: 39px;
  opacity: 0.8;
}

.main-navigation ul li:nth-child(2),
.main-navigation ul li:nth-child(5){
  margin-left: 82px;
}
.main-navigation ul li:nth-child(4) {
  margin-left: 92px;
}

.main-navigation_list__firstelement {
  opacity: 1;
  border-bottom: solid #ffffff 1px;
  font-weight: 500;
}
.main-navigation ul li:not(.logo):hover {
  opacity: 1;
  border-bottom: solid #ffffff 1px;
  font-weight: 500;
  cursor: pointer;
}
.main-navigation ul li a {
  color: #ffffff;
}
.logo {
  margin-left: 102px;
  display: inline-block;
}
.logo img {
  position: relative;
  bottom: 15px;
  left: -4px;
}

.main {
  width: 100%;
  height: 100%;
}

.first-section {
  width: 100%;
  height: 744px;
  background-image: url("../assets/bg-image.png");
  background-size: cover;
  color: #ffffff;
  padding-top: 235PX;
}
.first-section_text h2 {
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 7px;
}
.first-section_text p {
  width: 504px;
  height: 50px;
  font-size: 18px;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
  margin-top: 27px;
  line-height: 25.2px;
}

.first-section_button {
  margin-top: 45px;
  height: 46px;
  text-align: center;
}
.get_started_button a {
  padding: 15px 44px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #00AFDB;
}
.get_started_button a:hover {
  background-color: #009CC2;
}

.first-section_social {
  text-align: center;
  margin: 167px auto;
  width: 170px;
}
.first-section_social ul {
  display: flex;
  justify-content: space-between;
}
.first-section_social ul li {
  display: inline-block;
}
.first-section_social ul li:hover {
  cursor: pointer;
  opacity: 0.5;
}

.second-section {
  width: 100%;
  height: 842px;
  display: flex;
}
.second-section_text {
  margin-top: 295px;
  margin-left: 269px;
}
.second-section_text h2 {
  width: 375px;
  font-size: 24px;
  line-height: 29.3px;
  font-weight: 700;
  /* letter-spacing: 1px; */
  text-transform: uppercase;
  color: #373737;
}
.second-section_text p {
  width: 405px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 20px;
  color: #4E4E4E;
}
.second-section_text p strong {
  font-weight: 500;
}
.second-section_button {
  margin-top: 45px;
}
.second-section img {
  width: 407px;
  height: 582px;
  margin-top: 120px;
  margin-left: 249px;
}

.third-section {
  width: 100%;
  height: 504px;
  display: flex;
  background-color: #F5F6F7;

}
.third-section_text {
  margin-top: 155px;
  margin-left: 270px;
}
.third-section_text img{
  margin-bottom: 15px;
  margin-left: 127px;
}
.third-section_text h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  text-align: center;
  color: #373737;
  margin-top: 4px;
}
.third-section_text p {
  width: 298px;
  color: #4E4E4E;
  text-align: center;
  margin-top: 11px;
  line-height: 20px;
}
.third-section_images {
  /* display: flex;
  justify-content: space-between; */
  margin-top: 82px;
  margin-left: 137px;
  /* width: 894px;
  height: 244px; */

}
.third-section_images__sliderarrow {
  color: #373737;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  margin-left: 543px;
}
.third-section_images__sliderarrow p span:first-child {
  margin-right: 10px;
}
.third-section_images__sliderarrow p span:last-child {
  margin-left: 9px;
}
.third-section_images img {
  display: inline-block;
  margin-top: 20px;
}
.third-section_images img:nth-child(2n+1) {
  margin-left: 28px;
}

.slider {
  display: inline-block;
  background-image: url("../assets/third-section-slider-item-3.jpg");
  width: 20px;
  height: 244px;
  margin-left: 25px;
  margin-top: 20px;
}

.fourth-section {
  width: 100%;
  height: 842px;
  display: flex;
  padding-top: 120px;
  padding-left: 269px;
}

.fourth-section img {
  width: 407px;
  height: 582px;
}
.fourth-section_text {
  margin-left: 140px;
  margin-top: 199px;
}
.fourth-section h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  color: #373737;
  text-transform: uppercase;
}
.fourth-section p {
  width: 412px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 20px;
}
.fourth-section p strong {
  font-weight: 500;
}
.fourth-section_button {
  margin-top: 46px;
}
.fourth-section_button a {
  padding: 15px  42px;
}